
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header_ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(95, 40, 40);
}

.header_ul > li {
  /* height: 30px; */
  text-align: center;
  width: 25%;
  border: 1px solid;
  padding: 6px;
  border-color: rgb(71, 28, 28);
}

.header_ul > li > a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}

.imagen > img {
  width: 500px;
  border-radius: 20%;
}

.movies {
  list-style: georgian;
}

.divHome {
 
  background-image: url(../public/fue-blake-lively-la-mejor-vestida-de-la-met-gala-4.jpg);
  width: 100%;
  height: 685px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.divHome > h1 {
  font-size: 180px;
  text-align: center;
  color: white;
  text-shadow: 10px 10px 10px  rgb(95, 40, 40, 0.6);

}